
.detail {
    display: flex;
    -ms-flex-align: start;
    flex-direction: column;
    color: white;
}

.edit {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    width: 300px;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
}
