.detail ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none;
}

.detail li {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #61dafb;
    background-color: rgba(97, 218, 251, 0.1);
    border-radius: 5px;
}

.edit {
    text-align: left;
}
